<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upperline Student Project Gallery</title>
    <!-- Stylesheets -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Login</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Student Project Gallery</h3>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <img src="">Image1</img>
            </div>
            <div class="col-lg-6">
              <img src="">Image2</img>
            </div>
        </div>
    </div>
  </body>
</html>
