<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upperline Student Portfolio</title>
    <!-- Stylesheets -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Login</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Student Project Gallery</h3>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <img src="">Image1</img>
            </div>
            <div class="col-lg-6">
              <h2>Title</h2>
              <h3>Names of all who contributed</h3>
              <p>Information about the project that is entered by the student</p>
              <ul class="nav nav-pills pull-right">
                  <li><a href="#">Code</a></li>
                  <li><a href="#">Live</a></li>
              </ul>
            </div>
        </div>
    </div>
  </body>
</html>
